# General Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor / IDE Settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Testing and Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# Linters and Formatters
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Documentation
docs/_build/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMathParsed
*.sage.py

# Docker
.dockerignore
